.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.user-greeting {
  font-size: 0.9rem;
  margin-left: 10px; 
  margin-right: 10px;
}

.content {
  padding: 20px;
  background-color: #f5f5f5;
  flex: 1; 
  overflow-y: auto; 
}